.app-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #5691cc 30%, #cc9156 40%);
}

.leftside {
  flex: 0 35%;
}

.rightside {
  flex: 1;
}
/* 600px view and smaller will make the left side present as the header */
@media (max-width: 700px) {
  .app-wrapper {
    flex-direction: column;
    background: linear-gradient(to bottom, #5691cc 70px, #cc9156 12%);
  }
  .leftside {
    flex: 0 100px;
  }
  .rightside {
    flex: 1 100%;
  }
}
