@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Silkscreen', cursive;
}

.silkscreen {
  font-family: 'Silkscreen', cursive;
}

.slide-in {
  animation: slide-in 1s ease 0s 1 normal forwards;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    /* transform: translateY(250px); */
  }

  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.hide {
  /* opacity: 1; */
  position: sticky;
  top: 40%;
}

.wrapper {
  height: 2500px;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
